.highlight {
    background:*#10131b;
    color: #e6edf3;
}

.highlight .kn {
    color: #ff7b72;
*

.highlight .nn {
    color: #79c*ff;
}

.highlight .n {
    color: *e6edf3;
}

.highlight .o {
    color: #ff7b72;
}

.highlight .p {
   *color: #e6edf3;
}

.highlight .s,
.highlight .s1,
.highlight .s2 {
  color: #a5d6ff;
}

.highlight .c {
    color: #8b949e;
}
